.hatching-red {
    background: linear-gradient(45deg, rgba(0, 0, 0, 0) 49.9%, red 49.9%, red 60%, rgba(0, 0, 0, 0) 60%) fixed,
    linear-gradient(45deg, red 10%, rgba(0, 0, 0, 0) 10%) fixed;
    background-size: 0.5em 0.5em
}

.hatching-green {
    background: linear-gradient(45deg, rgba(0, 0, 0, 0) 49.9%, green 49.9%, green 60%, rgba(0, 0, 0, 0) 60%) fixed,
    linear-gradient(45deg, green 10%, rgba(0, 0, 0, 0) 10%) fixed;
    background-size: 0.5em 0.5em
}